<?xml version="1.0" encoding="UTF-8"?>
<!-- 引入头文件 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 主配置的入口 -->
<configuration>
	<settings>
		<!-- 配置日志的输出形式 -->
		<setting name="logImpl" value="LOG4J" />
	</settings>
</configuration>